@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Noto Sans HK';
  src: url('/fonts/NotoSansHK-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans HK';
  src: url('/fonts/NotoSansHK-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Noto Sans HK', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* for Internet Explorer 10+ */
  scrollbar-width: none;      /* for Firefox */
}

@layer utilities {
  .text-stroke {
    /* -webkit-text-stroke: 0.1px black; */
    /* text-stroke: 0.1px black; */
    text-shadow: 
      -0.5px -0.5px 0 black,  
      0.5px -0.5px 0 black,
      -0.5px  0.5px 0 black,
      0.5px  0.5px 0 black;
  }
  .text-stroke-white {
    /* -webkit-text-stroke: 0.1px white; */
    text-shadow: 
      -0.5px -0.1px 0 white,  
      0.5px -0.1px 0 white,
      -0.5px  0.1px 0 white,
      0.5px  0.1px 0 white;
  }
  .text-stroke-wheet {
    /* -webkit-text-stroke: 0.1px #7E7070; */
    text-shadow: 
      -0.5px -0.1px 0 #7E7070,  
      0.5px -0.1px 0 #7E7070,
      -0.5px  0.1px 0 #7E7070,
      0.5px  0.1px 0 #7E7070;
  }
  .text-stroke-thin {
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
  }
  .text-stroke-thick {
    -webkit-text-stroke: 3px black;
    text-stroke: 3px black;
  }
}
